<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"> </link>
    <link href="https://fonts.googleapis.com/css?family=Rozha+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="logo.png" />
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P"
        crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <title>Keegan's Portfolio</title>
</head>

<body>
    <!-- <div class="container"> -->
            <div id='thehome' name='home'></div>
    <div class="top">
            

            <!-- <a id='thehome'></a> -->
        <ul>
            <li style="float:left">
                <a class="active" href="#home" id='home1'>Home</a>
                <!-- <button type="button">Home </button> -->
            </li>
            <li>
                <a  id='about1' class="whitetext" href='#about'>About</a>
            </li>
            <li>
                <a  id='experience1' class="whitetext" href='#experience'>Experience Timeline</a>
            </li>
            <li>
                <a  id='projects1' class="whitetext" href="#projects">Projects</a>
            </li>
            <li>
                <a id='skills1' href='#skills'class="whitetext">Skills</a>
            </li>
            <li>
                <a href="#contact" id='contactbutton'  data-toggle="modal" data-target="#myModal" class="whitetext">Contact</a>
            </li>
            <li class='right1'>
                <a href="https://github.com/KeeganJustis" target="_blank">
                    <span class="fa fa-github fa-2x" size='4x'></span>

                </a>
            </li>
            <li class='right1'>
                <a href="https://www.linkedin.com/in/keegan-justis/" target="_blank">
                    <span class="fa fa-linkedin fa-2x" size='4x'> </span>
            </li>

        </ul>
    </div>

    <img class='fit center mainimage' src="KeeganWebsite.jpg" height='100%' width='100%'></img>
    <div class='centered'>
        <h1 class="title"> Keegan Justis
            <br/> Software Developer</h1>
        <span class='fading center'></span>
        <a id='theabout'></a>
    </div>









    <!-- <a id='theabout'></a> -->
    <div class="row">


        <div class="col">
            <a name='about'></a>
            </br>
            </br>
            
            <h1 class="title2"> About </h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col">

            <!-- </i>
            </a> -->
            <!-- <p class="font1">About</p> -->
            <!-- <a name='about'></a> -->
            <img class='pic' src='robot.jpg' height="400px" width='400px'>
        </div>
        <div class="col-6 left">
            <p class="left font1 space">I grew up in the Pacific Northwest, lived all across the country, and currently reside in San Diego, CA. Growing
                up I was fascinated by technology and I designed, built, programmed a small robot in high school with C and
                solidworks. I graduated with a bachelor’s degree in Business Administration Management Information Systems
                from Washington State University in 2015 and an associates degree in Business Administration from South Puget
                Sound Community College in 2013. I completed an internship at Bechtel (largest construction and civil engineering
                company in the United States) and an internship at T-Mobile (third largest wireless carrier in the United
                States) working in enterprise IT. In my last position I was working as an Associate Consultant at Syntel
                supporting an implementation of Epic Resolute Professional Billing software for Scripps Health in San Diego,
                CA. I am currently a fulltime student at Origin Code Academy coding bootcamp learning the MERN (Mongodb,
                Express, React, and Node ) stack. In my spare time I enjoy learning new technologies, reading business/financial
                news, traveling, kayaking, hanging out with friends, and watching indie films.
            </p>
        </div>
        <a id='theexperience'></a>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="title2"> Experience Timeline</h1>
            <a name='experience'></a>
        </div>
    </div>
    <div class="title2">
        <iframe class='centered1' src="https://public.tableau.com/views/Resume_240/Resume?:showVizHome=no&:embed=true
            " width="1329" height="500" frameBorder="0"></iframe>
    </div>
    <a id='theprojects'></a>
    </div>
    <div class='proj'>
        <div class="row">
            <div class="col">
                <a name="projects"></a>
                <h1 class="title2"> Projects</h1>
                <br/>
            </div>
            </div>


            <div class="row">
                <div class="col">
                    <p class="font1 subtitle ">Activity Recommender</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 ">

                    <a href="https://kjactivityrecommender.herokuapp.com/" target="_blank">
                        <img class='pic' src='ActivityRecommender.png' alt="" width='100%' height="100%">
                    </a>
                </div>
                <div class="col-8">
                    <p class=' blocktext font1'> Created a small web app in React and Node.js that gives recommendations on things to do. Uses Yelp Fusion
                        and AWS Comphrehend to perform latent semantic analysis on different yelp reviews. </p>
                </div>
            </div>
        







        <div class="row">
            <div class="col">
                <p class="font1 subtitle ">Very Simple To Do App</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 ">

                <a href="https://kjverysimpletodoapp.herokuapp.com/" target="_blank">
                    <img class='pic' src='vstd.png' alt="" width='100%' height="100%">
                </a>
            </div>
            <div class="col-8">
                <p class=' blocktext font1'> Created a small web app in React JS to help the end user keep track of their daily goals.</p>
            </div>
        </div>




        <div class="row">
            <div class="col">
                <p class="font1 subtitle ">San Diego Top Spots</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 ">

                <a href="https://kjtopspots.herokuapp.com" target="_blank">
                    <img class='pic' src='TopSpots.png' alt="" width='100%' height="100%">
                </a>
            </div>
            <div class="col-8">
                <p class=' blocktext font1'> Beautiful React JS App retrieving an API</p>
            </div>
        </div>




        <div class="row">
            <div class="col">
                <p class="font1 subtitle ">Change Calulator</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 ">

                <a href="https://kjchangecalculator.herokuapp.com/" target="_blank">
                    <img class='pic' src='changecal.png' alt="" width='100%' height="100%">
                </a>
            </div>
            <div class="col-8">
                <p class=' blocktext font1'> Calulate Change for Point of Sale System</p>
            </div>
        </div>



        <div class="row">
            <div class="col">
                <p class="font1 subtitle ">Mortgage Calulator</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 ">

                <a href="https://kjmortgagecalcultor.herokuapp.com/" target="_blank">
                    <img class='pic' src='mc.png' alt="" width='100%' height="100%">
                </a>
            </div>
            <div class="col-8">
                <p class=' blocktext font1'> Helps you Calculate the mortage for a new property</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="font1 subtitle ">Predicting Deaths in the Titanic</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 ">

                <a href="https://github.com/KeeganJustis/TitanicKaggle" target="_blank">
                    <img class='pic' src='titanicdata.png' alt="" width='100%' height="100%">
                </a>
            </div>
            <div class="col-8">
                <p class=' blocktext font1'> After completing an online Machine Learning course, I quickly completed my first Kaggle competition. I downloaded
                    the datasets, performed exploratory analysis, filled in missing data with basic imputation, and used
                    a random forest algorithm with a grid search for finding the key hyperparameters in order to correctly
                    classify who died on the titanic. In this competition I achieved close to 80% precision. </p>
            </div>
        </div>



        <div class="row">
            <div class="col">
                <p class="font1 subtitle ">Predicting Seattle Home Prices</p>
            </div>
        </div>


        <div class="row">
            <div class="col-4 ">

                <a href="https://github.com/KeeganJustis/TimeserieswithProphet" target="_blank">
                    <img class='pic' src='SeattleTimeSeries.png' alt="" width='100%' height="100%">
                </a>
            </div>
            <div class="col-8">
                <P class="blocktext font1"> Implemented Facebook’s Prophet library to create a forecast of future sales price per square foot of a houses
                    sold in Seattle, WA.</P>
            </div>
        </div>
    
    




    <div class="row">


        <div class="col">
            <a id='theskills'></a>
            </br>
            </br>

            <h1 class="title2"> Skills</h1>
        </div>
    </div>
    <div class="whitebackground">
        <div class="row">
            <div class="col">
                <p class="container1"> Front End</p>
                <img src="jquerylogo.gif" alt="" class="pic2" class="a12">
                <img src="reactlogo.jpg" alt="" class="pic2" class="a12">
                <img src="html5.png" alt="" class="pic2" class="a12">
                <img src="css3.png" alt="" class="pic2" class="a12">
                <img src="boostrap.png" alt="" class="pic2" class="a12">




            </div>
            <div class="col">
                <p class="container1">Back End</p>
                <img src="awslogo.png" alt="" class="pic2" class="a12">
                <img src="node.png" alt="" class="pic2" class="a12"> 
                <img src="heroku.png" alt="" class="pic2" class="a12">

            </div>

            <div class="col">
                <p class="container1"> Database </p>
                <img src="mongodblogo.jpg" alt="" class="pic2" class="a12">
                <img src="msSQLlogo.png" alt="" class="pic2" class="a12">
                <img src="mysqllogo.png" alt="" class="pic2" class="a12">
                <img src="MS_access.png" alt="" class="pic2" class="a12">

            </div>
            <div class="col">
                <p class="container1">Data Science</p>
                <img src="tableaulogo.png" alt="" class="pic2" class="a12">
                <img src="pythonlogo.svg" alt="" class="pic2" class="a12">
                <img src="pandaslogo.png" alt="" class="pic2" class="a12">
                <img src="scikitlearnlogo.png" alt="" class="pic2" class="a12">
                <img src="sparklogo.png" alt="" class="pic2" class="a12">
                <img src="Numpylogo.png" alt="" class="pic2" class="a12">
                <img src="scipy.png" alt="" class="pic2" class="a12">

            </div>
        </div> 




        <div class="modal" id='input'>
                <form action="/thanks" method="POST">
                  <label for="firstName">First Name:</label>
                  <input id="firstName" name="firstName" type="text">
          
                  <label for="lastName">Last Name:</label>
                  <input id="lastName" name="lastName" type="text">
          
                  <label for="email">Email:</label>
                  <input id="email" name="email" type="text">
          
                  <input type="submit" />
                </form>
              </div>






              <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Fill out your contact information below </h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                  
                        <!-- Modal body -->
                        <div class="modal-body centerinput">
                                <a name='contact'></a>
                                <form action="/thanks" method="POST">
                                  <label for="firstName" class="leftside">First Name:</label>
                                  <input id="firstName" name="firstName" type="text" class='centerinput' placeholder="Your First Name">
                                </br>
                          
                                  <label for="lastName" class="leftside">Last Name:</label>
                                  <input id="lastName" name="lastName" type="text" class='centerinput' placeholder="Your Last Name">
                                </br>
                                  <label for="email" class="leftside">Email:</label>
                                  <input id="email" name="email" type="text" class='centerinput' placeholder="Your Email ">
                                </br>
                                <label for='message'>Message:</label>
                                <textarea id='message' name='message' class="centerinput" rows="4" cols="50" placeholder="Place your message here"></textarea>
                                  <input type="submit" class="btn btn-success" />
                                </form>
                              </div> 
                        </div>
                  
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                  
                      </div>
                    </div>
                  </div>
        <!-- <div>


            <a name='contact'></a>
                <form action="/thanks" method="POST">
                  <label for="firstName">First Name:</label>
                  <input id="firstName" name="firstName" type="text">
          
                  <label for="lastName">Last Name:</label>
                  <input id="lastName" name="lastName" type="text">
          
                  <label for="email">Email:</label>
                  <input id="email" name="email" type="text">
          
                  <input type="submit" />
                </form>
              </div> -->
    </div>
    </div>



    <div class="row">
        <div class="col">

        </div>
    </div>
    </div>
    </div>
    </div>



    </div>


    <!-- </div> -->










    <!-- <%= person.firstName %>
            <%= person.lastName %> -->
    </div>
</body>
<!-- <Script src='typed1.js' charset="utf-8"></Script> -->




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<Script src='typed.min.js' charset="utf-8"></Script>
<script>

// $('#input').on('shown.bs.modal', function () {
//   $('#contactbutton').trigger('focus')
// })


// $("#home").click(function() {
//     $('html, body').animate({
//         scrollTop: $("#thehome").offset().top
//     }, 2000);
// }); 

// $('html,body').animate({
//    scrollTop: $("#divToBeScrolledTo").offset().top
// });


$(document).ready(function () {
  //your code here

$("#home1").click(function() {
    $('html,body').animate({
        scrollTop: $("#thehome").offset().top},
        'slow');
});



$("#about1").click(function() {
    $('html,body').animate({
        scrollTop: $("#theabout").offset().top},
        'slow');
});



$("#experience1").click(function() {
    $('html,body').animate({
        scrollTop: $("#theexperience").offset().top},
        'slow');
});

$("#projects1").click(function() {
    $('html,body').animate({
        scrollTop: $("#theprojects").offset().top},
        'slow');
});

$("#skills1").click(function() {
    $('html,body').animate({
        scrollTop: $("#theskills").offset().top},
        'slow');
});

});
// $("#home").click(function() {
//     $("#thehome").animate({scrollTop: $("#thehome").offset().top});
//   });



// $("#button").click(function() {
// $('html, body').animate({
//         scrollTop: $("#elementtoScrollToID").offset().top
//     }, 2000);
// });


    var typed = new Typed('.fading', {
        // strings: ['I have experience with front end development with React JS , HTML 5, and CSS 3',
        //  "I'm knowledgeable about backend development with Node JS, Express JS, SQL, Mongodb, and Amazon Web Services",
        //  "I have healthcare revenue cycle IT experience and multiple Epic Professional Billing certifcations", 
        //  "I'm proficient in Python's scientific libraries including Numpy,Pandas, SciPy, Matplotlib, Seaborn, Scikit-learn  for complex data analysis and machine learning",
        //  "I've have a broad business education with my Bachelors in Management Information Systems from Washington State University ",
        //  " Customer focused and I've worked in client facing roles",
        // ""],
        strings: ['React JS, HTML 5, Bootstrap 4 and CSS 3',
            'Node JS, Express JS, SQL , Mongodb, and Amazon Web Services',
            'Epic Resolute Professional Billing Claims Administration Certified',
            "Epic Resolute Professional Billing Electronic Remittance Certified",
            "Python Anaconda Numpy,Pandas, SciPy, Matplotlib, Seaborn, Scikit-learn, and PySpark",
            'Tableau, Alteryx, Advanced MS Excel (VBA, Solver, Pivot Tables )',
            "Customer focused and experience with requirement gathering",
            "Strong business acumen  "],
        typeSpeed: 100,
        backSpeed: 0,
        backDelay: 500,
        startDelay: 500,
        fadeOut: true,
        loop: true
    }); 
</script>

</html>