<html>
  <head> 
        <link rel="stylesheet" href="style.css">
    <title>Keegan Thanks You</title>
  </head>
  <body>
    <div>

            <img class='fit center mainimage' src="picture2.jpg" height='100%' width='100%'></img>
            <div class='centered'>
                <h1 class="title"> Thank you <%= contact.firstName %> <%= contact.lastName %>.
                    <br/> </h1>
                <span class='fading center'></span>
                <div id='thehome' name='home'></div>
            </div>
      
    </div>
  </body>
</html>